@keyframes scale-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes scale-out {
  to {
    transform: scale(0.96);
    opacity: 0;
  }
}

.content {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  will-change: opacity, transform;
  box-shadow: var(--bs-2);
  border: 1px solid var(--gray6);
  border-radius: var(--br-8);
  background-color: #fff;
  padding: var(--sp-4);
  min-width: 160px;
  user-select: none;
}

:global(.dark) .content {
  border: 1px solid var(--gray7);
  background-color: var(--gray4);
}

.content[data-state='open'] {
  animation: scale-in 0.1s;
}

.content[data-state='closed'] {
  animation: scale-out 0.1s;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--sp-8);
  cursor: pointer;
  border-radius: var(--br-4);
  padding: 0 var(--sp-8);
  height: var(--sp-32);
  color: #212021;
  font-weight: var(--fw-500);
  font-size: var(--fs-13);
  font-family: var(--ff-sans);
}

:global(.dark) .item {
  color: #cbc9cf;
}

.item svg {
  width: var(--sp-16);
  height: var(--sp-16);
  color: hsl(256deg 6% 70%);
}

.item[data-highlighted] {
  outline: none;
  background: var(--grayA4);
  color: var(--gray12);
}

.item[data-highlighted] svg {
  color: var(--gray12);
}

.item.danger {
  color: var(--red11);
}

.item.danger[data-highlighted] {
  background: var(--reda4);
}

.item.danger svg {
  color: var(--red11);
}

.item[data-disabled] {
  cursor: not-allowed;
  color: var(--gray11);
}

.item[data-disabled] svg {
  color: var(--gray11);
}

.seperator {
  margin: var(--sp-4) 0;
  background: var(--grayA6);
  height: 1px;
}

.label {
  padding: var(--sp-4) var(--sp-8);
  color: var(--gray11);
  font-weight: var(--fw-500);
  font-size: var(--fs-13);
  font-family: var(--ff-sans);
}
