.root {
  display: inline-block;
  vertical-align: middle;
  border-radius: var(--br-6);
  padding: 0 var(--sp-4);
  font-family: var(--ff-sans);
  font-weight: var(--fw-600);
  font-size: var(--fs-12);
  line-height: var(--lh-20);
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--c3);
  color: var(--c11);
}

.gray {
  --c3: var(--gray3);
  --c11: var(--gray11);
}

.red {
  --c3: var(--red3);
  --c11: var(--red11);
}

.green {
  --c3: var(--green3);
  --c11: var(--green11);
}

.pink {
  --c3: var(--pink3);
  --c11: var(--pink11);
}

.purple {
  --c3: var(--purple3);
  --c11: var(--purple11);
}

.blue {
  --c3: var(--blue3);
  --c11: var(--blue11);
}

.accent {
  --c3: var(--accent3);
  --c11: var(--accent11);
}
