.root {
  display: inline-block;
  vertical-align: middle;
  border-radius: var(--br-6);
  padding: 0 var(--sp-4);
  font-weight: var(--fw-600);
  font-size: var(--fs-12);
  line-height: var(--lh-20);
  text-transform: uppercase;
  white-space: nowrap;
}

.gray {
  background-color: var(--gray4);
  color: var(--gray11);
}

.red {
  background-color: var(--red4);
  color: var(--red11);
}

.green {
  background-color: var(--green4);
  color: var(--green11);
}

.pink {
  background-color: var(--pink4);
  color: var(--pink11);
}

.purple {
  background-color: var(--purple4);
  color: var(--purple11);
}

.blue {
  background-color: var(--blue4);
  color: var(--blue11);
}

.accent {
  background-color: var(--accent4);
  color: var(--accent11);
}
