.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sp-8);
  transition: background-color 0.1s, transform 0.1s, color 0.1s;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px var(--grayA7), inset 0 -1px 0 0 rgb(0 0 0 / 10%), 0 0 0 0 rgb(0 0 0 / 0%),
    0 0 0 0 rgb(0 0 0 / 0%);
  border: 0;
  border-radius: var(--br-6);
  background-color: #fff;
  padding: 0 var(--sp-12);
  height: var(--input-2);
  color: var(--grayA12);
  font-size: var(--fs-14);
  font-family: var(--ff-sans);
  user-select: none;
}

:global(.dark) .button {
  box-shadow: inset 0 0 0 1px var(--grayA4);
  background-color: var(--gray5);
  color: var(--gray12);
}

@media (hover: hover) {
  .button:hover {
    box-shadow: inset 0 0 0 1px var(--grayA7), inset 0 -1px 0 0 rgb(0 0 0 / 10%), var(--bs-button);
    background-color: #fff;
  }

  :global(.dark) .button:hover {
    background-color: var(--gray6);
  }
}

.button svg {
  width: 16px;
  height: 16px;
}

.button span:first-child {
  display: inline-flex;
  align-items: center;
  gap: var(--sp-8);
}

.button:focus-visible {
  outline: 0;
  box-shadow: inset 0 0 0 1px var(--grayA7), inset 0 -1px 0 0 rgb(0 0 0 / 10%), 0 0 0 0 rgb(0 0 0 / 0%),
    0 0 0 2px var(--canvas), 0 0 0 4px var(--gray9);
}

.button[data-placeholder] {
  color: #212021;
}

:global(.dark) .button[data-placeholder] {
  color: #cbc9cf;
}

.icon {
  height: 15px;
  color: var(--gray10);
}

.content {
  will-change: opacity, transform;
  box-shadow: var(--bs-2);
  border: 1px solid var(--gray6);
  border-radius: var(--br-8);
  background-color: #fff;
  min-width: 150px;
  user-select: none;
}

:global(.dark) .content {
  border: 1px solid var(--gray7);
  background-color: var(--gray4);
}

.viewport {
  padding: var(--sp-4);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sp-8);
  cursor: pointer;
  border-radius: var(--br-4);
  padding: 0 var(--sp-8);
  height: var(--input-2);
  color: var(--gray11);
  font-size: var(--fs-14);
  user-select: none;
}

.item svg {
  width: 16px;
  height: 16px;
}

.item span:first-child {
  display: inline-flex;
  align-items: center;
  gap: var(--sp-8);
}

.item[data-disabled] {
  pointer-events: none;
  color: var(--mauve8);
}

.item[data-state='checked'] {
  color: var(--gray12);
}

.item[data-highlighted] {
  outline: none;
  background: var(--grayA4);
  color: var(--gray12);
}

.check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  color: var(--gray12);
}
