.overlay {
  position: fixed;
  backdrop-filter: blur(3px);
  inset: 0;
  background-color: hsl(0deg 0% 80% / 80%);
}

:global(.dark) .overlay {
  background-color: #101012cc;
}

.overlay[data-state='open'] {
  animation: overlay-show 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.overlay[data-state='closed'] {
  animation: overlay-hide 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  flex-direction: column;
  gap: var(--sp-24);
  transform: translate(-50%, -50%);
  backdrop-filter: blur(16px);
  box-shadow: var(--bs-2);
  border-radius: var(--br-12);
  background: var(--gray2);
  padding: var(--sp-20);
  width: 90vw;
  max-width: 400px;
  max-height: 85vh;
  font-family: var(--ff-sans);
  --canvas: var(--gray2);
}

:global(.dark) .content {
  border: 1px solid var(--gray6);
  background-color: var(--gray3);
}

.content[data-state='open'] {
  animation: content-show 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.content[data-state='closed'] {
  animation: content-hide 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.content:focus {
  outline: none;
}

@keyframes overlay-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes content-show {
  0% {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes content-hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }
}
