.root {
  display: inline-block;
  border-radius: var(--br-6);
  background-color: var(--gray-6);
  padding: 0 var(--sp-4);
  color: var(--gray-12);
  font-weight: 400;
  font-size: 0.87em;
  line-height: var(--lh-24);
  font-family: var(--ff-mono);
}
