@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..800&display=swap');

:root {
  --sp-4: 4px;
  --sp-8: 8px;
  --sp-12: 12px;
  --sp-16: 16px;
  --sp-20: 20px;
  --sp-24: 24px;
  --sp-32: 32px;
  --sp-40: 40px;
  --sp-48: 48px;
  --sp-56: 56px;
  --sp-64: 64px;
  --sp-72: 72px;
  --sp-80: 80px;

  --input-1: var(--sp-24);
  --input-2: var(--sp-32);
  --input-3: var(--sp-40);

  --br-2: 2px;
  --br-4: 4px;
  --br-6: 6px;
  --br-8: 8px;
  --br-12: 12px;
  --br-16: 16px;
  --br-32: 32px;
  --br-round: 9999px;

  --ff-sans: 'Inter', -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  --ff-mono: menlo, monaco, lucida console, liberation mono, dejavu sans mono, bitstream vera sans mono, courier new,
    monospace;

  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  --lh-12: 0.75rem;
  --lh-16: 1rem;
  --lh-20: 1.25rem;
  --lh-24: 1.5rem;
  --lh-28: 1.75rem;
  --lh-32: 2rem;
  --lh-40: 2.5rem;
  --lh-48: 3rem;
  --lh-56: 3.5rem;

  --bs-button: 0px 2px 5px 0px rgb(64 68 82 / 8%);
  --bs-1: 0 1px 2px 0 rgb(0 0 0 / 6%);
  --bs-2: 0 2px 20px 1px rgb(0 0 0 / 5%);
  --bs-3: 0 8px 30px rgb(0 0 0 / 12%);

  --accent1: var(--blue1);
  --accent2: var(--blue2);
  --accent3: var(--blue3);
  --accent4: var(--blue4);
  --accent5: var(--blue5);
  --accent6: var(--blue6);
  --accent7: var(--blue7);
  --accent8: var(--blue8);
  --accent9: var(--blue9);
  --accent10: var(--blue10);
  --accent11: var(--blue11);
  --accent12: var(--blue12);
}

:root.dark {
  --blackA1: hsl(0deg 0% 0% / 1.2%);
  --blackA2: hsl(0deg 0% 0% / 2.7%);
  --blackA3: hsl(0deg 0% 0% / 4.7%);
  --blackA4: hsl(0deg 0% 0% / 7.1%);
  --blackA5: hsl(0deg 0% 0% / 9%);
  --blackA6: hsl(0deg 0% 0% / 11.4%);
  --blackA7: hsl(0deg 0% 0% / 14.1%);
  --blackA8: hsl(0deg 0% 0% / 22%);
  --blackA9: hsl(0deg 0% 0% / 43.9%);
  --blackA10: hsl(0deg 0% 0% / 47.8%);
  --blackA11: hsl(0deg 0% 0% / 56.5%);
  --blackA12: hsl(0deg 0% 0% / 91%);

  --gray1: hsl(0, 0%, 8.5%);
  --gray2: hsl(0, 0%, 11%);
  --gray3: hsl(0, 0%, 13.6%);
  --gray4: hsl(0, 0%, 15.8%);
  --gray5: hsl(0, 0%, 17.9%);
  --gray6: hsl(0, 0%, 20.5%);
  --gray7: hsl(0, 0%, 24.3%);
  --gray8: hsl(0, 0%, 31.2%);
  --gray9: hsl(0, 0%, 43.9%);
  --gray10: hsl(0, 0%, 49.4%);
  --gray11: hsl(0, 0%, 62.8%);
  --gray12: hsl(0, 0%, 93%);

  --grayA1: hsla(0, 0%, 100%, 0);
  --grayA2: hsla(0, 0%, 100%, 0.026);
  --grayA3: hsla(0, 0%, 100%, 0.056);
  --grayA4: hsla(0, 0%, 100%, 0.077);
  --grayA5: hsla(0, 0%, 100%, 0.103);
  --grayA6: hsla(0, 0%, 100%, 0.129);
  --grayA7: hsla(0, 0%, 100%, 0.172);
  --grayA8: hsla(0, 0%, 100%, 0.249);
  --grayA9: hsla(0, 0%, 100%, 0.386);
  --grayA10: hsla(0, 0%, 100%, 0.446);
  --grayA11: hsla(0, 0%, 100%, 0.592);
  --grayA12: hsla(0, 0%, 100%, 0.923);

  --red1: hsl(353deg 23% 9.8%);
  --red2: hsl(357deg 34.4% 12%);
  --red3: hsl(356deg 43.4% 16.4%);
  --red4: hsl(356deg 47.6% 19.2%);
  --red5: hsl(356deg 51.1% 21.9%);
  --red6: hsl(356deg 55.2% 25.9%);
  --red7: hsl(357deg 60.2% 31.8%);
  --red8: hsl(358deg 65% 40.4%);
  --red9: hsl(358deg 75% 59%);
  --red10: hsl(358deg 85.3% 64%);
  --red11: hsl(358deg 100% 69.5%);
  --red12: hsl(351deg 89% 96%);

  --redA4: hsla(358, 98.8%, 61%, 0.184);

  --green1: hsl(146deg 30% 7.4%);
  --green2: hsl(155deg 44.2% 8.4%);
  --green3: hsl(155deg 46.7% 10.9%);
  --green4: hsl(154deg 48.4% 12.9%);
  --green5: hsl(154deg 49.7% 14.9%);
  --green6: hsl(154deg 50.9% 17.6%);
  --green7: hsl(153deg 51.8% 21.8%);
  --green8: hsl(151deg 51.7% 28.4%);
  --green9: hsl(151deg 55% 41.5%);
  --green10: hsl(151deg 49.3% 46.5%);
  --green11: hsl(151deg 50% 53.2%);
  --green12: hsl(137deg 72% 94%);

  --pink1: hsl(335deg 20% 9.6%);
  --pink2: hsl(335deg 32.2% 11.6%);
  --pink3: hsl(335deg 42.5% 16.5%);
  --pink4: hsl(335deg 47.2% 19.3%);
  --pink5: hsl(335deg 50.9% 21.8%);
  --pink6: hsl(335deg 55.7% 25.3%);
  --pink7: hsl(336deg 62.9% 30.8%);
  --pink8: hsl(336deg 74.9% 39%);
  --pink9: hsl(336deg 80% 57.8%);
  --pink10: hsl(339deg 84.1% 62.6%);
  --pink11: hsl(341deg 90% 67.3%);
  --pink12: hsl(332deg 87% 96%);

  --purple1: hsl(250deg 20% 10.2%);
  --purple2: hsl(255deg 30.3% 12.9%);
  --purple3: hsl(253deg 37% 18.4%);
  --purple4: hsl(252deg 40.1% 22.5%);
  --purple5: hsl(252deg 42.2% 26.2%);
  --purple6: hsl(251deg 44.3% 31.1%);
  --purple7: hsl(250deg 46.8% 38.9%);
  --purple8: hsl(250deg 51.8% 51.2%);
  --purple9: hsl(252deg 56% 57.5%);
  --purple10: hsl(251deg 63.2% 63.2%);
  --purple11: hsl(250deg 95% 76.8%);
  --purple12: hsl(252deg 87% 96.4%);

  --blue1: hsl(224deg 24% 10%);
  --blue2: hsl(225deg 36.4% 12.9%);
  --blue3: hsl(223deg 43.3% 17.5%);
  --blue4: hsl(222deg 47.2% 21%);
  --blue5: hsl(222deg 50% 24.1%);
  --blue6: hsl(221deg 52.9% 28.2%);
  --blue7: hsl(221deg 56% 34.5%);
  --blue8: hsl(221deg 58.2% 44.1%);
  --blue9: hsl(221deg 70% 55.5%);
  --blue10: hsl(222deg 75.2% 61.6%);
  --blue11: hsl(223deg 100% 75.9%);
  --blue12: hsl(221deg 83% 96.3%);

  --canvas: var(--gray1);
}

:root.light {
  --blackA1: hsl(0deg 0% 0% / 1.2%);
  --blackA2: hsl(0deg 0% 0% / 2.7%);
  --blackA3: hsl(0deg 0% 0% / 4.7%);
  --blackA4: hsl(0deg 0% 0% / 7.1%);
  --blackA5: hsl(0deg 0% 0% / 9%);
  --blackA6: hsl(0deg 0% 0% / 11.4%);
  --blackA7: hsl(0deg 0% 0% / 14.1%);
  --blackA8: hsl(0deg 0% 0% / 22%);
  --blackA9: hsl(0deg 0% 0% / 43.9%);
  --blackA10: hsl(0deg 0% 0% / 47.8%);
  --blackA11: hsl(0deg 0% 0% / 56.5%);
  --blackA12: hsl(0deg 0% 0% / 91%);

  --gray1: hsl(0, 0%, 99%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%);

  --grayA1: hsla(0, 0%, 0%, 0.012);
  --grayA2: hsla(0, 0%, 0%, 0.027);
  --grayA3: hsla(0, 0%, 0%, 0.047);
  --grayA4: hsla(0, 0%, 0%, 0.071);
  --grayA5: hsla(0, 0%, 0%, 0.09);
  --grayA6: hsla(0, 0%, 0%, 0.114);
  --grayA7: hsla(0, 0%, 0%, 0.141);
  --grayA8: hsla(0, 0%, 0%, 0.22);
  --grayA9: hsla(0, 0%, 0%, 0.439);
  --grayA10: hsla(0, 0%, 0%, 0.478);
  --grayA11: hsla(0, 0%, 0%, 0.565);
  --grayA12: hsla(0, 0%, 0%, 0.91);

  --red1: hsl(359deg 100% 99.4%);
  --red2: hsl(359deg 100% 98.6%);
  --red3: hsl(360deg 100% 96.8%);
  --red4: hsl(360deg 97.9% 94.8%);
  --red5: hsl(360deg 90.2% 91.9%);
  --red6: hsl(360deg 81.7% 87.8%);
  --red7: hsl(359deg 74.2% 81.7%);
  --red8: hsl(359deg 69.5% 74.3%);
  --red9: hsl(358deg 75% 59%);
  --red10: hsl(358deg 69.4% 55.2%);
  --red11: hsl(358deg 65% 48.7%);
  --red12: hsl(354deg 50% 14.6%);

  --redA4: hsla(0, 100%, 50%, 0.102);

  --green1: hsl(136deg 50% 98.9%);
  --green2: hsl(138deg 62.5% 96.9%);
  --green3: hsl(139deg 55.2% 94.5%);
  --green4: hsl(140deg 48.7% 91%);
  --green5: hsl(141deg 43.7% 86%);
  --green6: hsl(143deg 40.3% 79%);
  --green7: hsl(146deg 38.5% 69%);
  --green8: hsl(151deg 40.2% 54.1%);
  --green9: hsl(151deg 55% 41.5%);
  --green10: hsl(152deg 57.5% 37.6%);
  --green11: hsl(153deg 67% 28.5%);
  --green12: hsl(155deg 40% 14%);

  --pink1: hsl(332deg 100% 99.4%);
  --pink2: hsl(330deg 100% 98.4%);
  --pink3: hsl(331deg 85.6% 96.6%);
  --pink4: hsl(331deg 78.1% 94.2%);
  --pink5: hsl(332deg 72.1% 91.1%);
  --pink6: hsl(333deg 67% 86.7%);
  --pink7: hsl(335deg 63.5% 80.4%);
  --pink8: hsl(336deg 62.3% 72.9%);
  --pink9: hsl(336deg 80% 57.8%);
  --pink10: hsl(336deg 73.7% 53.5%);
  --pink11: hsl(336deg 75% 47.2%);
  --pink12: hsl(340deg 65% 14.5%);

  --purple1: hsl(255deg 65% 99.4%);
  --purple2: hsl(252deg 100% 99%);
  --purple3: hsl(252deg 96.9% 97.4%);
  --purple4: hsl(252deg 91.5% 95.5%);
  --purple5: hsl(252deg 85.1% 93%);
  --purple6: hsl(252deg 77.8% 89.4%);
  --purple7: hsl(252deg 71% 83.7%);
  --purple8: hsl(252deg 68.6% 76.3%);
  --purple9: hsl(252deg 56% 57.5%);
  --purple10: hsl(251deg 48.1% 53.5%);
  --purple11: hsl(250deg 43% 48%);
  --purple12: hsl(254deg 60% 18.5%);

  --blue1: hsl(220deg 60% 99.4%);
  --blue2: hsl(218deg 100% 98.6%);
  --blue3: hsl(218deg 98.4% 97.1%);
  --blue4: hsl(218deg 92.9% 95%);
  --blue5: hsl(219deg 87.1% 92%);
  --blue6: hsl(219deg 81.9% 87.8%);
  --blue7: hsl(220deg 77.4% 82.1%);
  --blue8: hsl(221deg 75.4% 74.5%);
  --blue9: hsl(221deg 70% 55.5%);
  --blue10: hsl(221deg 58.6% 51.3%);
  --blue11: hsl(221deg 55% 45%);
  --blue12: hsl(221deg 62% 17%);

  --canvas: #fff;
}

body {
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--canvas);
  color: var(--gray12);
  font-family: var(--ff-sans);
  overflow-wrap: break-word;
}

::selection {
  background-color: var(--accent5);
  color: var(--accent12);
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.m-12 {
  margin: 12px;
}

.m-16 {
  margin: 16px;
}

.m-20 {
  margin: 20px;
}

.m-24 {
  margin: 24px;
}

.m-32 {
  margin: 32px;
}

.m-40 {
  margin: 40px;
}

.m-48 {
  margin: 48px;
}

.m-56 {
  margin: 56px;
}

.m-64 {
  margin: 64px;
}

.m-72 {
  margin: 72px;
}

.m-80 {
  margin: 80px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-80 {
  margin-top: 80px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-56 {
  margin-right: 56px;
}

.mr-64 {
  margin-right: 64px;
}

.mr-72 {
  margin-right: 72px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-48 {
  margin-left: 48px;
}

.ml-56 {
  margin-left: 56px;
}

.ml-64 {
  margin-left: 64px;
}

.ml-72 {
  margin-left: 72px;
}

.ml-80 {
  margin-left: 80px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.my-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-56 {
  margin-left: 56px;
  margin-right: 56px;
}

.mx-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.mx-72 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-24 {
  padding: 24px;
}

.p-32 {
  padding: 32px;
}

.p-40 {
  padding: 40px;
}

.p-48 {
  padding: 48px;
}

.p-56 {
  padding: 56px;
}

.p-64 {
  padding: 64px;
}

.p-72 {
  padding: 72px;
}

.p-80 {
  padding: 80px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-56 {
  padding-top: 56px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-72 {
  padding-top: 72px;
}

.pt-80 {
  padding-top: 80px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-32 {
  padding-right: 32px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-48 {
  padding-right: 48px;
}

.pr-56 {
  padding-right: 56px;
}

.pr-64 {
  padding-right: 64px;
}

.pr-72 {
  padding-right: 72px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-56 {
  padding-bottom: 56px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-72 {
  padding-bottom: 72px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-32 {
  padding-left: 32px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-48 {
  padding-left: 48px;
}

.pl-56 {
  padding-left: 56px;
}

.pl-64 {
  padding-left: 64px;
}

.pl-72 {
  padding-left: 72px;
}

.pl-80 {
  padding-left: 80px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.py-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-56 {
  padding-left: 56px;
  padding-right: 56px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.px-72 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}
